<% content_for :title, "" %>

<%= render 'nav' %>

<div id="posts">
</div>
<% @posts.each do |post| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1><%= link_to post.title, post %></h1>
      <p><i>
        Posted <%= timeago_tag post.created_at, :limit => 10.days.ago %>. Category: <%= post.category.name %>
      </i></p>
    </div>
    
    <div class="panel-body">
        <% if post.content.scan(/[\w-]+/).size > 200 %>
          <%= raw post.content.truncate_words(200) %>
          <%= link_to 'Continue reading', post %>

        <% else %>
          <%= raw post.content %>
        <% end %>
    </div>
  </div>
<% end %>

<br>

<%= link_to 'New Post', new_post_path %>
