<% content_for :title, "" %>

<%= render 'nav' %>

<div id="posts">
</div>
<% @posts.each do |post| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1><%= link_to post.title, post %></h1>
      <p><i>
        Posted <%= timeago_tag post.created_at, :limit => 7.days.ago %>. Category: <%= post.category.name %>
      </i></p>
    </div>
    
    <div class="panel-body">
      <% if post.content.scan(/[\w-]+/).size > 200 %>
        <%= markdown(post.content.truncate_words(200)) %>
        <%= link_to 'Continue reading', post %>

      <% else %>
        <%= markdown(post.content) %>
      <% end %>
    </div>

    <div class="panel-footer">
      <%= link_to "No comments.", 
      post_path(post, :anchor => "disqus_thread"), 
      :"data-disqus-identifer" => post.id %>
    </div>
  </div>
<% end %>

<br>
<script id="dsq-count-scr" src="//tzy.disqus.com/count.js" async></script>
<%= link_to 'New Post', new_post_path %>
