<!DOCTYPE html>
<html>
  <head>
    <title>Blog of TZY <%= yield(:title) %></title>
    <meta charset="utf-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>

    <!-- Header -->
    <div class = "jumbotron">
      <div class = "container">
        <h1>Blog of TZY</h1>
        <p><i>"Better than reading newspaper."</i> - AhYap</p>
      </div>
    </div>

    <!-- Post body -->
    <div class = "container">
      <span class = "pull-right">
        <% if author_signed_in? %>
          <%= link_to('Edit profile', edit_author_registration_path)  %>  |
          <%= link_to('Logout', destroy_author_session_path, method: :delete) %>        
        <% else %>
            <%= link_to('Sign-In', new_author_session_path)  %> 
        <% end %>
      </span>

        <p id="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield %>
    </div>
  </body>
</html>
